services:
  vault:
    image: vault:latest
    container_name: vault-dev
    command: server -dev -dev-root-token-id="root"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    restart: unless-stopped
